{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block main %}

<div class="section color0">
	<div id="presentation" class="content">
	<h2 class="">A propos du Dronoscope</h2>

	<div class="separator"><span>×××</span></div>

	<p class="subtitle">Une alchimie complexe pour un pilote en or !</p>

	<div class="row-flex">
		{# {% placeholder "content2" %} #}
		{% block content %}
		{% endblock %}
	</div>
<!--

			<div class="col">
					<div class="circle-icon">
				      <span class="icon retroicon-user" style="background-color: #984242; -webkit-box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3; -moz-box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3; -o-box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3; box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3;"></span>
					</div>
				<h4>Le Pilote</h4>
				<h5 class="subline">un poil de barbe</h5>
				<hr>
				<p>Jeune, curieux, dynamique, passionné ... Mais non d'un drone en tutu est-ce là une énième lettre de motivation stéréotypée me diriez vous (ne mentez pas, vous y avez pensé) ? Et bien que nenni chers visiteurs ! Vous avez bien là un pilote qui, armé de son savoir-faire (et de sa barbe !), a fort envie d'en découdre avec les challenges que vous pourrez lui proposer ! Un appel, un mail et hop ! Voilà votre super pilote qui viendra voler à votre rescousse ! </p>
			</div>

			<div class="col">
					<div class="circle-icon">
							<span class="icon retroicon-study" style="background-color: #984242; -webkit-box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3; -moz-box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3; -o-box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3; box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3;"></span>
					</div>
				<h4>triple diplôme</h4>
				<h5 class="subline">une pincée de diplômes</h5>
				<hr>
				<p>Non content d'être ma foi fort sympathique, notre pilote possède aussi un parcours des plus atypique : diplôme d'Ingénieur des Sciences de l'Eau de Polytech'Montpellier, diplôme de Manager de la Communication et du Marketing de Sup de Com' et bien sûr, la cerise sur le gâteau (n'oubliez pas de manger cinq fruits et légumes par jour toutefois), un diplôme de pilote de drone agréé par la DGAC !</p>
			</div>

		  <div class="col mobile-full col-3 tablet-col-6">
					<div class="circle-icon">
							<span class="icon retroicon-like" style="background-color: #984242; -webkit-box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3; -moz-box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3; -o-box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3; box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3;"></span>
					</div>
				<h4>Label qualité</h4>
				<h5 class="subline">une dose de bonne humeur</h5>
				<hr>
				<p>Ne trouvez-vous pas que l'idée d'un travail sérieux et la bonne humeur sont, hélas, considérés comme antinomiques (oui il fallait le sortir ce mot) ? Un bon travail est une bonne chose mais un bon travail avec le sourire c'est mieux ! Et oui, car notre bien aimé pilote, attention spoiler, aime ce qu'il fait et le fait bien qui plus est ! Quand on vous disait qu'il était passionné... et en plus il a des tarifs très compétitifs !</p>
			</div>

			<div class="col">
					<div class="circle-icon">
							<span class="icon retroicon-gallery" style="background-color: #984242; -webkit-box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3; -moz-box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3; -o-box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3; box-shadow: inset 0 0 0 4px #984242, inset 0 0 0 8px #F5EEE3;"></span>
					</div>
				<h4>Multi-Tâche</h4>
				<h5 class="subline">et beaucoup de savoir-faire</h5>
				<hr>
				<p>Photo, vidéo, réalisation de clip, inspection, modélisation 3D, instructeur drone etc... C'est qu'il sait en faire des choses ce pilote ! Et pour cause ! Il est touche-à-tout et très curieux d'en apprendre toujours plus, en plus d'être en mesure de s'adapter très vite à vos besoins spécifiques, notre pilote barbu saura trouver dans sa hotte d'expériences LA solution qui vient du ciel. </p>
			</div>
-->
</div>

{% endblock main %}
